
<div>
  <div class='calendar'></div>
  <div id="event_desc_dialog" class="dialog" style="display:none;"></div>
  <div id="create_event_dialog" class="dialog" style ="display:none;"></div>
</div>

<script>
$(document).ready(function(){

  routes_path     = "<%= Rails.application.routes.url_helpers.routes_path %>"

  var dragging = false;

  function last_viewing_moment() {
    // Originally set within the viewRender callback
    var last_viewing_moment = Cookies.get('last_viewing_moment');
    if (last_viewing_moment === undefined) {
      last_viewing_moment = moment.utc(last_viewing_moment);
    } else
    {
      last_viewing_moment = moment(decodeURIComponent(last_viewing_moment));
    }
    return last_viewing_moment;
  }

  function last_calendar_type() {
    var last_calendar_type = Cookies.get('last_calendar_type');
    if (last_calendar_type === undefined) {
      last_calendar_type = 'agendaWeek';
    }
    return last_calendar_type;
  }

  function last_calendar_zoom_level() {
    var last_calendar_zoom_level = Cookies.get('last_calendar_zoom_level');
    if (last_calendar_zoom_level === undefined) {
      last_calendar_zoom_level = '00:10:00';
    }
    return last_calendar_zoom_level;
  }

  // Not really used?
  function last_working_date_moment() {
    var last_working_date = Cookies.get('last_working_date');
    moment(decodeURIComponent(last_working_date));
  }

  // Based on Cookies ____
  full_calendar_options.defaultView = last_calendar_type();
  full_calendar_options.defaultDate = last_viewing_moment();
  full_calendar_options.slotDuration = last_calendar_zoom_level();
  full_calendar_options.height = 800;
  full_calendar_options.minTime = "06:30:00";
  full_calendar_options.maxTime = "23:00:00";
  full_calendar_options.timezone = "local";
  full_calendar_options.displayEventEnd = false;
  full_calendar_options.allDaySlot = true;
  full_calendar_options.allDayText = "Routines";
  full_calendar_options.slotEventOverlap = false;
  full_calendar_options.editable = true;
  full_calendar_options.displayEventTime = false;
  // http://stackoverflow.com/questions/826782/css-rule-to-disable-text-selection-highlighting

  full_calendar_options.events = "";// Need to mute this because somewhere within the fc engine, it's setting it
  full_calendar_options.eventSources = [
  // full_calendar_options.resources = [ // Only in paid version of fullCalendar
    {
        url: "routes/get_events?request_type=template",
        color: '#D4FFD7',
        borderColor: '#93CC97',
        textColor: '#524B3E',
        editable: false
    },
    {
        url: "routes/get_events?request_type=instance",
        color: '#D4FFD7',
        textColor: '#524B3E',
        borderColor: '#93CC97',
    },
    {
        url: "routes/get_events?request_type=modified_instance",
        color: '#F0FFB6',
        textColor: '#35352E',
        borderColor: '#50DA59',
    },
    {
        url: "routes/get_events?request_type=special",
        color: '#F9E0CA',
        textColor: '#503A0D',
        borderColor: '#E4AFAF',
    },
  ];

  var spinner;
  var opts = {
    lines: 17 // The number of lines to draw
  , length: 13 // The length of each line
  , width: 5 // The line thickness
  , radius: 23 // The radius of the inner circle
  , scale: 0.5 // Scales overall size of the spinner
  , corners: 1 // Corner roundness (0..1)
  , color: '#000' // #rgb or #rrggbb or array of colors
  , opacity: 0.05 // Opacity of the lines
  , rotate: 0 // The rotation offset
  , direction: 1 // 1: clockwise, -1: counterclockwise
  , speed: 0.9 // Rounds per second
  , trail: 48 // Afterglow percentage
  , fps: 20 // Frames per second when using setTimeout() as a fallback for CSS
  , zIndex: 2e9 // The z-index (defaults to 2000000000)
  , className: 'spinner' // The CSS class to assign to the spinner
  , top: '50%' // Top position relative to parent
  , left: '50%' // Left position relative to parent
  , shadow: true // Whether to render a shadow
  , hwaccel: false // Whether to use hardware acceleration
  , position: 'absolute' // Element positioning
  }

  full_calendar_options.loading = function(isLoading, view) {
    var calendarElement = document.getElementsByClassName("calendar")[0];
    if (isLoading == true) {
      spinner = new Spinner(opts).spin(calendarElement);
    } else {
      spinner.stop();
    }
  }

  full_calendar_options.eventRender = function(event, element) {

    element.find('.fc-title').append("<br/>" + event.description);
    // Inject stuff for dynamic context-menu options
    element.attr('data-route-category', event.category);
    element.attr('data-has-children', event.has_children); // added from server to help ui
    element.attr('data-event-id', event.id);
    element.addClass('route-' + event.id); // make easier to use scrollTo

    element.addTouch();
    // element.draggable();

    if (event.category.indexOf("instance") > -1) {
      element.addClass('instance-' + event.id); // so we can scrollTo when the template is clicked
    }

    element.addClass('context-class');

    if ((event.category == "template") && (lastView == "month")) {
      element.hide();
    }

    if ((event.category == "template") && (!event.has_children)) {
      element.css({"background-color": "white"});
      element.css({"border-color": "green"});
      // element.addClass('ui-icon-arrowreturn-1-s');
    }

    if (!dragging) {
      // Use something like this if I remove the scroll thing and just force
      //  fullcalendar to stretch without a scroll !!!
      // $(window).scrollTo('.CurrentEvent',1, function() {
      //   $('.CurrentEvent').effect( "highlight", {color:"white"}, 300 );
      // });
      // $('.fc-scroller').scrollTo('.CurrentEvent',1, function() {
      //   $('.CurrentEvent').effect( "highlight", {color:"white"}, 300 );
      // });
    };
  };
  // http://fullcalendar.io/docs/event_rendering/eventOrder/
  // full_calendar_options.eventOrder = function( sortthing ) {
  // };

  full_calendar_options.eventDragStart = function( event, jsEvent, ui, view ) {
    dragging = true;
  };
  full_calendar_options.eventResizeStart = function( event, jsEvent, ui, view ) {
    dragging = true;
  };
  full_calendar_options.eventDragEnd = function( event, jsEvent, ui, view ) {
    dragging = false;
  };
  full_calendar_options.eventResizeEnd = function( event, jsEvent, ui, view ) {
    dragging = false;
  };

  full_calendar_options.viewRender = function( view, element ) {

    Cookies.set('last_calendar_type', view.name);
    lastView = view.name; // used during event rendering to see if thinh should be visible
    var viewing_moment = $.fullCalendar.moment.utc(view.intervalStart)
    Cookies.set('last_viewing_moment', viewing_moment.format());
    if (view.name == "month") {
      $('.fc-button_5-button').hide();
      $('.fc-button_10-button').hide();
      $('.fc-button_30-button').hide();
      $('.fc-button_verify-button').hide();
    }
    else {
      $('.fc-button_5-button').show();
      $('.fc-button_10-button').show();
      $('.fc-button_30-button').show();
      $('.fc-button_verify-button').show();
    }
  };

  full_calendar_options.eventAfterAllRender = function( view ) {
    // if(view.name === "agendaWeek" || view.name === "agendaDay"){
      $('.fc-scroller').scrollTo('.CurrentEvent',1, function() {
        $('.CurrentEvent').effect( "highlight", {color:"white"}, 300 );
      });
    // };
    // $('.fc-today').siblings().addClass('week-highlight');
  };

  full_calendar_options.customButtons  = {
      button_5: {
        text: '5',
        click: function() {
            $('.calendar').fullCalendar('destroy');
            Cookies.set('last_calendar_zoom_level', '00:05:00');
            full_calendar_options.slotDuration = last_calendar_zoom_level();
            full_calendar_options.defaultView = last_calendar_type();
            $('.calendar').fullCalendar(full_calendar_options);
        }
    },
        button_10: {
        text: '10',
        click: function() {
            $('.calendar').fullCalendar('destroy');
            Cookies.set('last_calendar_zoom_level', '00:10:00');
            full_calendar_options.slotDuration = last_calendar_zoom_level();
            full_calendar_options.defaultView = last_calendar_type();
            $('.calendar').fullCalendar(full_calendar_options);
        }
    },
        button_30: {
        text: '30',
        click: function() {
            $('.calendar').fullCalendar('destroy');
            Cookies.set('last_calendar_zoom_level', '00:30:00'); // hardcode 30 ???
            full_calendar_options.slotDuration = last_calendar_zoom_level();
            full_calendar_options.defaultView = last_calendar_type();
            // http://fullcalendar.io/docs/utilities/Duration/ Add this in !!!
            // full_calendar_options.slotLabelInterval = moment({ minutes:30 })
            $('.calendar').fullCalendar(full_calendar_options);
        }
    },
        button_verify: {
        text: 'verify',
        click: function() {
          $.ajax({
            data: '', //event_id=' + event.id, //+ '&day_delta=' + event.end.format() + '&minute_delta=' + delta.minutes + '&authenticity_token=' + FullcalendarEngine.Form.authenticity_token(),
            dataType: 'script',
            type: 'get',
            url: routes_path + "/get_missing_persons",
            error: function(xhr){
              alert(JSON.parse(xhr.responseText)["message"])
            },
            success: function(data) {
              alert(data);
            }
          });
        }
    },
  };
  full_calendar_options.header = {
      left: 'prev,next today button_5, button_10, button_30, button_verify',
      center: 'title',
      right: 'month,agendaWeek,agendaDay'
  };

  // full_calendar_options.dayClick =  function(event, jsEvent, view) {
  //   alert("dayClick hi");
  //   if (view.name == 'month') {
  //     // alert("dayClick");
  //     // $('.calencar').fullCalendar( 'gotoDate', event.start );
  //     $(".calendar").fullCalendar( 'changeView', 'agendaWeek' );
  //     // Not sure how to stop the new event creation screen from month view.
  //     // jsEvent.stopImmediatePropagation();
  //     // jsEvent.stopPropagation();
  //     // return true;
  //   };
  // };

  $.extend($.scrollTo.defaults, {
    axis: 'y',
    duration: 800,
    over: {left:0.5, top:-1},
    interrupt: true
  });

  $('.calendar').fullCalendar(full_calendar_options);
  $('.calendar').addClass('noselect');

  $('.calendar').fullCalendar( 'gotoDate', last_viewing_moment() );

})
// http://www.creativedev.in/2014/10/colordots-highlight-event-fullcalendar/
// calendarOptions.slotDuration = '00:15:00';
// $('#calendar').fullCalendar('destroy');
// $('#calendar').fullCalendar(calendarOptions);
</script>

<!-- Adding Calendar toggles -->
<!-- http://stackoverflow.com/questions/10338853/calendar-toggles-for-fullcalendar-not-acting-as-expected -->
