
<%= react_component("CalendarApp", props: @calendar_props, prerender: false) %>
<div>
  <a class="w-inline-block" href=<%="https://calendar.google.com/calendar/syncselect" %> target="_blank">
    <img src=<%=image_url( "googlecal.jpg") %>
    <div>Google Sync Select (for making shared calendars available to devices)</div>
  </a>
</div>
<br>