<div>
<a class="w-inline-block" href=<%="webcal://" + @current_user.current_carpool.google_calendar_share_link %> target="_blank">
  <img src=<%=image_url( "icalcal.png") %>
  <div>Apple/Windows</div>
</a>
<div>(with OSX/iOS: "Auto-Refresh" will default to every week, make it like every 10 minutes or hour)</div>
</br>
</div>
